body{
    margin:0px
}
.firstbox{
    padding:10px 90px;
    background:#003580;
    height:380px;
}
.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    font-family:UI,Roboto,Helvetica,Arial,sans-serif;
}
.logo{
    color:white;
    font-weight:bold;
    font-size:22px
}

.list-items{
     color:white;
     display:flex; 
     column-gap:30px;
     list-style-type:none;
     position:absolute;
     right:270px;
     top:15px;
     cursor:pointer;
}
.list-items li:hover{
    background:#0071c2;
    border-radius:5px
    }
.lastone button{
    height:40px;
    width:80px;
    margin:10px;
    margin-right:-5px;
}
.navbar2{
    display:flex;
    gap:20px;
    font-weight:bold;
    list-style-type:none;
    margin:20px 0px;
    
}

.navbar2 li a{
    color:white;
    text-decoration:none;
    border:1px solid #003580;
    padding:80px 20px; 
    border-radius:10px
}
.navbar2 li:hover{
     background:#0071c2;
     border-radius:5px;
   }
.text{
    color:white;
    font-weight:bold;
    font-family:UI,Roboto,Helvetica,Arial,sans-serif;
  }
 h1{
    padding: 45px 0px 0px 0px;
    font-size:50px;
   }
h1 + p{
    font-size:20px;
    }
.secondbox{
    background:white;
    height:200px;
    width:100%;
    
}
.boxes{
    display:flex;
    position:absolute;
    left:85px;
    top:370px;
}
.box{
    background:#ffffff;
    border:5px solid rgba(255, 145, 0, 0.785);
    height:20px;
    width:270px;
    text-align:center;
    padding:15px;
    cursor:pointer;
    border-radius:5px
}
.four{
    height:20px;
    width: 150px;
    background:#0071c2;

}
.tikker{
    padding:50px 0px 0px 90px;
   }
h2{
   font-weight:bold;
    padding:10px 0px 0px 87px;
    font-family:UI,Roboto,Helvetica,Arial,sans-serif;
}
.container{
    display:flex;
    background:#f7f3f3dd;
    align-items:center
}
.details{
    
    
}
.imagediv{
    display:flex;
    margin:0px 0px 0px 90px;
}
.firstpic{
       display:flex;
       background:darkblue;
       width:500px;
       height:140px;
       border-radius:5px;
       padding:0px 20px;
       margin:10px 0px
}
.firstpart{
    font-weight:bold;
    font-size:24px;   
    color:white;
    position:absolute;
    left:250px;
    padding-top:25px
}
.btn{
    background:blue;  
    color:white;
    position:absolute;
    left:250px;
    padding:10px;
    top:980px;
    border-radius:5px;
    }
    .secondpart{
        color:white;
        position:absolute;
        top:880px;
        right:140px
    }
    .secondpart > button {
        background:blue;
         border-radius:5px;
    }
.pic1{
    display:flex;
    justify-content:space-between;
    margin:40px 50px;
    list-style-type:none;
    font-size:18px;
   
}   
.pic1 li:hover{
   background:rgb(240, 236, 236);
   cursor:pointer;
   border-radius:10px
}
.rowpic1{
    margin:0px 70px;
    display:flex;
    justify-content:space-evenly;
    font-family:arial;
}
.rowpic1 img{
    border-radius:10px
}
.rowpic2{
    margin:0px 70px;
    display:flex;
    justify-content:space-evenly;
    font-family:arial;
}
.rowpic2 img{
    border-radius:10px
}
.rowpic3{
    margin:30px 0px;
    display:flex;
    justify-content:space-evenly;
    font-family:arial;
    }
.rowpic3 img{
    border-radius:10px
}