/* Navbar Container */
.navbar {
  background-color: #1e1e1e;      
  color: white;
  display: flex;                  /* flexbox for left & right */
  justify-content: space-between; /* logo left - links right */
  align-items: center;
  padding: 15px 60px;             /* top-bottom | left-right */
  position: sticky;               /* stays on top while scroll */ 
                
}

/* Logo Style */
p {
  font-size: 22px;
  font-weight: bold;
}

span {
  color: rgb(167, 17, 237);
}

/* Nav Links */
.nav-links {
  list-style-type: none;
  display: flex;      /* important */
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold; 
} 

.nav-links a:hover {
  color: orange;                  /* hover effect */
}
.headline{
  background-color:darkolivegreen;
  color:aliceblue;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.para{ 
  background-color: antiquewhite;
   color: darkblue;
    font-size: 14px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  padding: 15px, 60px;
}